body{
    margin: 0px;
    padding: 0px;
    background-color: #F6F3EB;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
    /* max-width: 1440px; */
    
}

nav img{
    width: 157px;
    height: 32px;
}
nav li{
    list-style: none;
    margin: 0px 10px;
    font-size: 18px;
}
nav ul{
    display: flex;
}
.book-btn{
    background-color: #FFCE00;
    font-weight: 500;
    border: none;
    padding: 17px 36px;
    font-size: 18px;
}
.header-divider{
    background-color: #FFCE00;
    height: 2px;
    width: full;
}